@import "Styles/reset.css";
@import "Styles/theme.css";

/* Properties */
:root {
  /* Fonts */
  --font-inter: "Inter", system-ui, -apple-system, sans-serif;
  --font-poppins: "Poppins", system-ui, -apple-system, sans-serif;

  /* Font Sizes */
  --fs-hero__title: 5ch;
  --fs-card__title: 1.75ch;
  --fs-tag: 1.25ch;

  --fs-footer-s__title: 1.25ch;
  --fs-footer__section: 1.25ch;

  --fs-search__title: 2ch;
  --fs-content__link: 1ch;
  --fs-content__footer-description: 1.25ch;

  /* Font Weights*/
  --fw-hero__title: 900;
  --fw-tag: 600;
  --fw-bold: bold;

  /* Width */
  --mn-w-search-element: 12.5rem;
  --mn-w-search-element--full: 100%;
  --mn-w-content-card-size: 20rem;

  /* Margins */
  --m-hero__title-block-start: 1rem;

  /* Padding */
  --pd-default-block: 0.5ch;
  --pd-default-inline: 1rem;

  --mx-pd-default-inline: 30rem;
  --pf-pd-default-inline: 30%;

  --pd-page-inline: 2rem;
  --pd-page-inline--desktop: 30rem;

  --pd-search-inline: 2rem;
  --pd-search-inline--desktop: var(--pd-page-inline--desktop);

  --pd-ff-block: 0.5ch;
  --pd-ff-inline: 0.75rem;

  --pd-content-header-block: 2rem;

  --pd-content-header-inline: 1.5rem;
  --pd-content-header-inline--desktop: var(--pd-page-inline--desktop);

  --pd-content__card-collection-inline: 1.5rem;
  --pd-content__card-collection-inline--desktop: var(--pd-page-inline--desktop);

  --pd-content-footer-block: 2.5rem;

  --pd-content__footer-inline: 0.5rem;
  --pd-content__footer-inline--desktop: var(--pd-page-inline--desktop);

  --pd-content__footer-section-inline: 0.5rem;

  --pd-card-block-start: 1rem;
  --pd-card-block-end: 0.5rem;
  --pd-card-inline: 1rem;

  --pd-card--footer-block: 1.5rem;

  --pd-footer-block: 3rem;

  --pd-footer-inline: 1rem;
  --pd-footer-inline--desktop: var(--pd-page-inline--desktop);

  --pd-tag-block: 0.5ch;
  --pd-tag-inline: 0.5rem;
}

/* Utility */

.u-tag {
  background-color: var(--gray-200);
  color: var(--gray-600);

  font-weight: var(--fw-tag);
  font-size: var(--fs-tag);

  padding-block: var(--pd-tag-block);
  padding-inline: var(--pd-tag-inline);
  border-radius: 0.25rem;

  text-transform: uppercase;
}

.u-visually--hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.u-button {
  text-decoration: none;

  border: 0.2ch solid var(--purple-800);
  border-radius: 0.25rem;
  padding-block: var(--pd-default-block);
  padding-inline: var(--pd-default-inline);
}

.u-button--filled {
  border: inherit;
  padding-block: 0.45rem;
  background-color: var(--purple-800);
  color: var(--white);
}

.u-form-field {
  display: grid;
  gap: 0.5rem;

  > label {
    font-weight: var(--fw-bold);
  }

  > input {
    padding-block: var(--pd-ff-block);
    padding-inline: var(--pd-ff-inline);
  }

  > select {
    padding-block: var(--pd-ff-block);
    padding-inline: var(--pd-ff-inline);
  }
}

.u-icon-s-xs {
  padding: 0.5rem;
}

.u-icon-s-md {
  padding: 1rem;
}

.u-icon--filled {
  border-radius: 2rem;
  background-color: var(--gray-400);
  aspect-ratio: 1;
}

.u-icon--outline {
  border-radius: 2rem;
  border: 0.1ch solid var(--gray-400);
  aspect-ratio: 1;
}

.u-icon--emerald {
  border-color: var(--emerald-800);
  background-color: var(--mint-200);
}

/* Blocks */
.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-block-start: 0.5rem;
  margin-block-end: 2rem;

  padding-inline: var(--pd-page-inline);

  container-type: inline-size;
  container-name: banner;
}

.banner__logo {
  display: flex;
  align-items: center;
}

.banner__title {
  font-size: 1.25rem;
  font-weight: 600;
}

.banner__navigation {
  display: flex;
  list-style: none;
  gap: 1.5rem;
}

.banner__right-edge {
  display: flex;
  flex-direction: row;
  align-items: center;

  gap: 1rem;
}

.banner__entry {
  display: inherit;
}

.banner__entry--desktop {
  display: none;
}

@container banner (width > 800px) {
  .banner__entry {
    display: none;
  }

  .banner__entry--desktop {
    display: inherit;
  }
}

.hero {
  display: grid;
  padding-inline: var(--pd-page-inline);

  container-type: inline-size;
  container-name: hero;
}

.hero__tag {
  background-color: var(--purple-200);
  color: var(--purple-600);
}

.hero__title {
  font-family: var(--font-poppins);
  font-size: var(--fs-hero__title);
  font-weight: var(--fw-hero__title);

  margin-block-start: var(--m-hero__title-block-start);
}

.hero__content {
  margin-block-start: 0.5rem;
  margin-inline-end: 5rem;
}

.hero__description {
  margin-block-start: 1rem;
  margin-block-end: 2.5rem;

  text-wrap: pretty;
}

.hero__buttons {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12.5rem, 1fr));

  gap: 1rem;

  justify-items: start;
  justify-content: start;
  align-items: start;

  margin-block-end: 1rem;
}

.hero__collection {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(1rem, 1fr));
  justify-content: center;
  justify-items: center;
  align-items: center;

  gap: 0.5rem;
  margin-block: 1.5rem;

  > img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;

    aspect-ratio: 1;
  }
}

@container hero (width > 480px) {
  .hero__buttons {
    margin-block-end: inherit;

    display: inline-grid;
    grid-template-columns: repeat(2, minmax(12.5rem, 1fr));
  }

  .hero__collection {
    > *:first-child {
      grid-column: span 3;
    }

    > *:last-child {
      grid-column: span 2;
    }
  }
}

@container responsive-container (width > 1700px) {
  .hero {
    grid-template-columns: repeat(2, minmax(1rem, 1fr));
    align-items: center;
  }

  .hero__collection {
    grid-template-columns: repeat(3, minmax(1rem, 1fr));

    > *:first-child {
      grid-column: span 2;
      grid-row: span 2;
    }

    > img:first-child {
      aspect-ratio: inherit;
    }

    > *:last-child {
      grid-column: inherit;
    }
  }
}

.search {
  background-color: var(--purple-100);
  padding-block: 2rem;

  container-type: inline-size;
  container-name: search;
}

.search__title {
  padding-inline: var(--pd-search-inline);
  padding-block-end: 1rem;

  font-size: var(--fs-search__title);
  font-weight: var(--fw-bold);
}

.search__elements {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;

  justify-content: center;
  align-items: center;
  align-content: center;

  padding-inline: var(--pd-search-inline);

  > *:not(:last-child) {
    flex: 1 1 var(--mn-w-search-element);
  }

  > *:last-child {
    flex: 0 0 var(--mn-w-search-element--full);
  }
}

@container search (width > 480px) {
  .search__elements {
    justify-content: stretch;
    align-items: end;

    > *:last-child {
      flex: 0 0 var(--mn-w-search-element);
    }
  }
}

.content {
  container-type: inline-size;
  container-name: content;
}

.content__header {
  display: flex;
  justify-content: space-between;
  align-items: end;

  padding-inline: var(--pd-content-header-inline);
  padding-block-start: var(--pd-content-header-block);
}

.content__title {
  flex: 0 1 1;
  font-weight: var(--fw-bold);
}

.content__link {
  flex: 0 0 1;

  text-wrap: nowrap;
  text-decoration: none;
  font-size: var(--fs-content__link);
  font-weight: var(--fw-bold);
}

.content__card-collection {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(var(--mn-w-content-card-size), 1fr)
  );
  gap: 1rem;
  padding-inline: var(--pd-content__card-collection-inline);
  margin-block: 1.5rem;
}

.content__footer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));

  justify-content: center;
  padding-inline: var(--pd-content__footer-inline);

  background-color: var(--mint-50);
}

.content__footer-section {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  justify-content: center;
  justify-items: center;
  align-items: center;

  padding-block: var(--pd-content-footer-block);
  padding-inline: var(--pd-content__footer-section-inline);

  > p {
    text-wrap: pretty;
  }
}

.content__footer-body {
  text-align: center;
}

.content__footer-title {
  font-weight: var(--fw-bold);
  padding-block-end: 0.5rem;
}

.content__footer-description {
  font-size: var(--fs-content__footer-description);
  line-height: 1.1rem;
}

@container content (width > 910px) {
  .content__footer-section {
    flex-direction: row;
    justify-content: end;
  }

  .content__footer-description {
    text-align: left;
  }

  .content__footer-title {
    text-align: left;
  }
}

.card {
  display: grid;
  border: 0.1ch solid var(--purple-200);
  border-radius: 0.5rem;
}

.card__preview {
  order: -2;
}

.card__metadata {
  order: -1;
  padding-block-start: var(--pd-card-block-start);
  padding-block-end: var(--pd-card-block-end);
  padding-inline: var(--pd-card-inline);

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card__date {
  font-size: 1.2ch;
}

.card__title {
  font-size: var(--fs-card__title);
  font-weight: var(--fw-bold);

  padding-block: var(--pd-card-block);
  padding-inline: var(--pd-card-inline);
}

.card__footer {
  padding-block-start: var(--pd-card-block-start);
  padding-block-end: var(--pd-card--footer-block);
  padding-inline: var(--pd-card-inline);
}

.card__location {
  font-size: 1.4ch;
  color: var(--gray-600);
}

/* Footer Blocks */
.footer {
  container-type: inline-size;
  container-name: footer;

  color: var(--white);
  background-color: var(--gray-900);
}

.footer__container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;

  justify-content: start;
  align-items: start;

  gap: 1rem;

  padding-block: var(--pd-footer-block);
  padding-inline: var(--pd-footer-inline);
}

.footer__section--summary {
  flex: 1 0 1;

  display: grid;

  justify-content: start;
  justify-items: start;
  align-items: start;
}

.summary__media {
  display: flex;
  gap: 1rem;

  padding-block-start: 1rem;
  padding-block-end: 1.5rem;

  a {
    color: var(--white);
  }
}

.footer__section {
  flex: 0 0 1;

  ul {
    list-style: none;
    line-height: 1.75rem;
  }

  a,
  p {
    font-size: var(--fs-footer__section);
    text-decoration: none;
  }
}

.footer__section--summary {
  text-wrap: pretty;
  max-width: 16rem;
}

.footer__section--explore {
  flex: 0 0 10rem;
}

.section__logo {
  padding-inline: inherit;
  padding-block-end: 1rem;
}

.section__title {
  text-transform: uppercase;
  font-size: var(--fs-footer-s__title);
}

.section__content {
  max-width: 9rem;
  text-wrap: pretty;

  a,
  p {
    text-decoration: none;
    padding-block-start: 0.5rem;
    color: var(--gray-400);
  }
}

.section__link-collection {
  color: var(--gray-400);
  a {
    color: var(--gray-400);
  }
}

@container footer (width > 480px) {
  .footer__container {
    justify-content: space-evenly;
  }
  .footer__section {
    width: inherit;
    /* display: grid;
    grid-template-areas: inherit;
    grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr)); */
  }

  .footer__section--explore {
    flex: inherit;
  }
}

/* Tags */

.u-tag[data-type="concert"] {
  background-color: var(--purple-200);
  color: var(--purple-600);
}

.u-tag[data-type="market"] {
  background-color: var(--mint-200);
  color: var(--emerald-800);
}

.u-tag[data-type="workshop"] {
  background-color: var(--orange-100);
  color: var(--orange-800);
}

.u-tag[data-type="family"] {
  background-color: var(--pink-100);
  color: var(--pink-800);
}

.u-tag[data-type="sport"] {
  background-color: var(--blue-100);
  color: var(--blue-800);
}

/* Global */

body {
  container-type: inline-size;
  container-name: responsive-container;
}

@container responsive-container (width > 1250px) {
  .banner {
    padding-inline: clamp(
      var(--pd-page-inline),
      var(--pf-pd-default-inline),
      var(--pd-page-inline--desktop)
    );
  }

  .hero {
    padding-inline: clamp(
      var(--pd-page-inline),
      var(--pf-pd-default-inline),
      var(--pd-page-inline--desktop)
    );
  }

  .search__title {
    padding-inline: clamp(
      var(--pd-search-inline),
      var(--pf-pd-default-inline),
      var(--pd-search-inline--desktop)
    );
  }

  .search__elements {
    padding-inline: clamp(
      var(--pd-search-inline),
      var(--pf-pd-default-inline),
      var(--pd-search-inline--desktop)
    );
  }

  .content__header {
    padding-inline: clamp(
      var(--pd-content__card-collection-inline),
      var(--pf-pd-default-inline),
      var(--pd-content__card-collection-inline--desktop)
    );
  }

  .content__card-collection {
    padding-inline: clamp(
      var(--pd-content__card-collection-inline),
      var(--pf-pd-default-inline),
      var(--pd-content__card-collection-inline--desktop)
    );
  }

  .content__footer {
    padding-inline: clamp(
      var(--pd-content__footer-inline),
      var(--pf-pd-default-inline),
      var(--pd-content__footer-inline--desktop)
    );
  }

  .footer__container {
    padding-inline: clamp(
      var(--pd-footer-inline),
      var(--pf-pd-default-inline),
      var(--pd-footer-inline--desktop)
    );
  }
}
